<div class ="cointainer-fluid py-5 px-5">
    <div class="row">
        <div class="col-sm-3 col-md-offset-3">
            <% if @user.profile_picture.attached? %>
                <%= image_tag url_for(@user.profile_picture.variant(resize: '500x500').processed), class: 'img-fluid' %>
            <%else%>
                <div class="profile-picture no-profile-picture"></div>
            <% end %>
        
        </div>

        <div class="col-xs-12 col-md-4">
            <h1> <%= @user.full_name %> </h1>

            <p><strong> Admin: </strong> <%= @user.admin? %> </p>

            <h2> Bio </h2>
            <p> <%= @user.bio %> </p>

            <% if current_user.id == @user.id %>
                <%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>
</div>